.perItem {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.key {
  grid-column: span 2;
  font-weight: bold;
}

.value {
  grid-column: span 10;
}


