body {
  font-size: rfs(1.55rem);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: rfs(9.3rem);
}

h2 {
  font-size: rfs(7.75rem);
}

h3 {
  font-size: rfs(6.2rem);
}

h4 {
  font-size: rfs(4.65rem);
}

h5 {
  font-size: rfs(3.1rem);
}

h6 {
  font-size: rfs(1.55rem);
}

dl, ol, ul {
  margin-bottom: 0;
}

.pagination {
  justify-content: flex-end;
}

.page-link a {
  outline: none;
}

.previous {
  margin-right: 1rem;
}

.next {
  margin-left: 1rem;
}


/* xs-font-size: 0.65rem;
sm-font-size: 1rem;
md-font-size: 1.55rem;
lg-font-size: 3.1rem;
xl-font-size: 4.65rem;
bg-font-size: 6.2rem;
hg-font-size: 7.75rem;
jm-font-size: 9.3rem; */
