.table {
  width: 100%;
}

.titleColumn {
  min-width: 200px;
}

.excerpt {
  max-width: 400px;
}

.removeBtn {
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: maroon;
  color: white;
  border-style: none;
  outline: none;
}

.updateBtn {
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: blue;
  color: white;
  border-style: none;
  outline: none;
}
