.formContainer {
  max-width: calc(300px + 10vw);
  margin: 0 auto;
  margin-top: 10%;
  background-color: #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 3rem 5rem;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

.errorContainer {
  width: 100%;
  padding: 5px 1rem;
  color: #850000;
  background-color: #ffd1d1;
  border: 1px solid #ff6363;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  border-radius: 0;
  border-style: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  outline: none;
  margin-bottom: 2rem;
}

.submitButton {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  border-style: none;
  padding: 5px 1rem;
  background-color: black;
  color: white;
}
