.nav-wrapper {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

.nav-item {
  margin-right: 2rem;
  text-transform: uppercase;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  margin-top: -2px;
}

@media (max-width: 767px) {
  .nav-wrapper {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
  }

  .nav-item {
    margin-right: 1rem;
  }

  .nav-item:hover {
    margin-top: 0;
  }
}
