.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selectionWrapper {
  margin-right: 1rem;
}

.selectionWrapper label {
  margin-bottom: 0;
  margin-right: 1rem;
}

.select {
  padding: 0.5rem 0.3rem;
}
